﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Font Awesome Icons
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
    @Styles.Render("~/Vendoring/css")
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    Theme CSS - Includes Bootstrap
    <link href="css/creative.min.css" rel="stylesheet">-->
    @Styles.Render("~/Contenting/css")
</head>

<body id="page-top">

    <!-- Navigation -->
    @Html.Partial("Nav")
    <!-- Masthead -->
    @RenderBody();

    <!-- Bootstrap core JavaScript
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    @Scripts.Render("~/bundles/vendor")
    <!-- Plugin JavaScript
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>-->
    <!-- Custom scripts for this template
    <script src="js/creative.min.js"></script>-->
    @Scripts.Render("~/bundles/creative")

</body>

</html>
